div.row-container div.right {
  width: 75%;
}

div.row-container div.left {
  width: 15%;
}

div.row-container div.left-half {
  width: 50%;

  h2 {
    margin: 0;
  }
}

div.row-container div.right-half {
  width: 50%;
  position: relative;

  button {
    position: absolute;
    right: 0;
    bottom: 0;
  }

}
