

div.staff {

  h3 {
    text-align: center;
  }

  div.menu {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 2em;

    p {
      text-align: center;
      margin: 1em 0;
    }

    img {
      vertical-align: middle;
      height: 100px;
      width: auto;
    }
  }

  div.header {
    margin-left: 15em;
  }

  div.staff-btns {
    text-align: center;

    p {
      display: inline;

      a {
        text-decoration: none;
        color: #000000;
      }

      a:hover {
        text-decoration: underline;
        color: #18453B;
      }
    }
  }
}
