div.topic {

  div.topic-head {
    position: relative;

    button.create-doc {
      position: absolute;
      right: 7em;
      top: 0;
    }
  }

  div.docs {
    width: 75%;
  }

  div.container {

    div.doc-head {
      position: relative;

      button.delete-doc {
        position: absolute;
        right: 7em;
        top: 0;
      }
    }

    p.section {
      margin: 1em 2em;
      min-height: 3em;
      padding: 0.5em;
      border: thin solid rebeccapurple;
      text-align: center;
    }

    pre.section {
      margin: 1em 2em;
      border: thin solid rebeccapurple;
      text-align: center;

      code {
        min-height: 3em;
        background-color: #eee;
        display: block;
        padding: 0.5em;
      }
    }
  }

  div.sideNav {
    width: 15%;
    padding-top: 4em;

    div.category-list ul {
        list-style-type: none;
        padding-left: 1em;

      li ul {
        padding-left: 0.5em;
      }

    }
  }

}
