div.topic {

  div.topic-head {
    position: relative;

    button.create-doc {
      position: absolute;
      right: 7em;
      top: 0;
    }
  }

  div.docs {
    width: 75%;
  }


  div.doc-head {
    position: relative;

    button.delete-doc {
      position: absolute;
      right: 7em;
      top: 0;
    }
  }

  div.sideNav {
    width: 15%;
    padding-top: 4em;

    div.category-list ul {
        list-style-type: none;
        padding-left: 1em;

      li ul {
        padding-left: 0.5em;
      }

    }
  }

}
