div.topic {

  div.topic-head {
    position: relative;

    button.create-doc {
      position: absolute;
      right: 7em;
      top: 0;
    }
  }

  div.docs {
    width: 75%;
  }


  div.doc-head {
    position: relative;

    button.delete-doc {
      position: absolute;
      right: 7em;
      top: 0;
    }
  }

}
